@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body * { visibility: hidden; }
    #receipt-print-area,
    #receipt-print-area * { visibility: visible; }
    #receipt-print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    @page { margin: 4mm; }
}
